nba_api==1.8.0
# numpy==2.2.4
openai==1.68.2
optuna==4.2.1
pandas==2.2.3
polars==1.26.0
pyperclip==1.9.0
pytest==8.3.5
python-dotenv==1.0.1
scikit_learn==1.6.1
scikit_optimize==0.10.2
tiktoken==0.9.0
tqdm==4.67.1
xgboost==3.0.0
